<div class="container">
	<div class="row">
		<% if flash[:notice] %>
		  <div class="flash col-lg-3 offset-1">
		  	<%= flash[:notice] %>
		  </div>
		<% end %>
	</div>
	<div class="row">
		<div class="col-xs-6 col-xs-offset-3 text-left">
			<h1>Welcome to <span class="glyphicon glyphicon-book" aria-hidden="true">Bookers!</span></h1>

			<h5>In<span class="glyphicon glyphicon-book" aria-hidden="true">Bookers</span></br>
			you can share and exchange your opinions , inpressions , and emotions about various books!</h5>
	</div>

	<div class="row">
		<span class="btn btn-info col-xs-10 col-xs-offset-1">
			<%= link_to "Log in", new_user_session_path %>
		</span>
	</div>
	<div class="row">
		<span class="btn btn-success col-xs-10 col-xs-offset-1" >
			<%= link_to "Sign up", new_user_registration_path %>
		</span>
	</div>
</div>